body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #E8E6EA;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F1C17;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
	letter-spacing: 2px;
}

p {
    margin: 10px 0;
}

#projects {
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.project {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #8CB27F;
    margin-bottom: 10px;
    border-radius: 10px;
	color: white;
}

.project h3 {
    margin: 10px;
    align-self: flex-start;
    white-space: nowrap;
	letter-spacing: 1px;
}

.project p {
	position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
	max-width: 300px;
	left: 12px
}

.project-image {
	top: 0;
	right: 0;
	position: absolute;
	margin-left: auto;
    width: 186px;
    height: 114px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 0 10px 10px 0;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex-grow: 1;
}

.project p {
    margin: 0;
}

#project-details {
    display: none;
    padding: 20px;
    background-color: #54494B;
    position: relative;
    z-index: 1;
    color: #f4fdff;
    width: 70%;
}

#project-details button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fixed-header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    background-color: #1F1C17;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.project:hover {
    cursor: pointer;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #2E5339;
    color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 15px;
}

.top-bar a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.hyperlink {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, font-weight 0.3s ease;
    background-color: #379683;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 5px;
}

.hyperlink:hover {
    color: black;
    font-weight: bold;
}

#subtitle {
    color: #000;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
	color: #2E5339;
	letter-spacing: 2px;
	font-size: 40px;
}

#current {
    color: #8EE4AF;
}

#choice {
    transition: color 0.5s ease;
}

#choice:hover {
    color: #5CDB95;
}

#exitprojectdetails {
    border-radius: 5px;
}

#exitprojectdetails:hover {
    cursor: pointer;
}

div + p
{
	color: #2E5339;
}

.alone
{
	color: #2E5339;
}

.line
{
	position: relative;
	border-top: 1px solid #2E5339;
	width: 125%;
	margin-left: -65px;
	margin-bottom: 20px;
}

h2 + p
{
	position: relative;
    text-align: center;
	color: #2E5339;
	font-size: 40px;
	margin-bottom: auto;
	font-size: 1.5em;
}